.pink-header {
    color: rgb(238, 64, 151);
    text-decoration: underline;
    font-size: x-large;
}

h2 {
    color: rgb(238, 64, 151);
    font-size: large;
}

p {
    color: rgb(63, 63, 66);
    font-size: large;
    font-weight: bold;
}

ol {
    color: rgb(63, 63, 66);
    font-size: large;
    font-weight: bold;
}

#blueHeader {
    color: rgb(2, 2, 65);
    font-style: italic;
}

body {
    background-image: linear-gradient(white, rgb(167, 247, 247));
    border-style: hidden;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}