.pink-header {
    color: rgb(238, 64, 151);
    text-decoration: underline;
    font-size: x-large;
}

h2 {
    color: rgb(238, 64, 151);
    font-size: large;
}

p {
    color: rgb(43, 40, 40);
    font-size: large;
    font-weight: bold;
}

#blueHeader {
    color: navy;
    font-style: italic;
}

body {
    background-image: linear-gradient(white, rgb(27, 238, 238));
    border-style: hidden;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}