.pink-header {
    color: rgb(238, 64, 151);
    text-decoration: underline;
    font-size: x-large;
}

h2 {
    color: rgb(238, 64, 151);
    font-size: large;
}

p {
    color: rgb(43, 40, 40);
    font-size: large;
    font-weight: bold;
}

#redHeader {
    color: red;
    font-style: italic;
}

body {
    background-image: linear-gradient(white, teal);
    border-style: hidden;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}